<div class="row">
    <div class="col col-sm-4">
        <div class="card mb-3">
            <div class="card-header">
                Premium
            </div>
            <div class="card-body">
                <h2>Quero proteger meu plantio por 1 mês</h2>
            </div>
        </div>
    </div>

    <div class="col col-sm-4">
        <div class="card mb-3">
            <div class="card-header">
                Premium
            </div>
            <div class="card-body"></div>
        </div>
    </div>

    <div class="col col-sm-4">
        <div class="card mb-3">
            <div class="card-header">
                Premium
            </div>
            <div class="card-body"></div>
        </div>
    </div>
</div>
