<style>
    /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
    #map {
        height: 100%;
    }

    /* Optional: Makes the sample page fill the window. */
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>
<div [@routerTransition]>
    <app-page-header [heading]=""></app-page-header>
    <div class="row">
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Indicadores Climáticos
                </div>
                <div class="card-body">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                        [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </div>
        </div>

        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Risco de Incêndio
                </div>
                <div class="card-body">
                    <canvas baseChart height="130" [datasets]="lineChartData" [labels]="lineChartLabels"
                        [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                        [chartType]="lineChartType" (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </div>
        </div>

        <div class="col col-sm-6">
            <table class="table">
                <caption>Legenda</caption>
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Codições Regulares</th>
                        <th scope="col">Estatística</th>
                    </tr>
                </thead>
                <tbody>

                    <tr class="bg-warning text-white">
                        <th scope="row">1</th>
                        <td>TS (Tempo Seco)</td>
                        <td>Abaixo de 20</td>
                    </tr>
                    <tr class="bg-danger text-white">
                        <th scope="row">2</th>
                        <td>TE (Temperatura Elevada)</td>
                        <td>Acima de 30</td>
                    </tr>
                    <tr class="bg-info text-white">
                        <th scope="row">3</th>
                        <td>Vento (V)</td>
                        <td>13 - 20 Km/h</td>
                    </tr>
                    <tr class="bg-primary text-white">
                        <th scope="row">4</th>
                        <td>C (Chuva)</td>
                        <td>200 m</td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Mapa
                </div>
                <div class="card-body">
                    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
                        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                    </agm-map>
                </div>
            </div>
        </div>


    </div>


</div>